@import "./common.scss";
.home-page {
  padding-top: 140px;
  padding-bottom: 140px;
  @media (max-width: 1441px) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  @media (max-width: 769px) {
    padding-top: 50px;
  }
  @media (max-width: 426px) {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .container-fluid {
    .control__item {
      padding-top: 40px;
      text-align: center;

      .big__word {
        font-size: 70px;
        margin-bottom: 50px;
        @media (max-width: 769px) {
          font-size: 25px;
        }
        @media (max-width: 426px) {
          font-size: 20px;
        }
      }
      .empty__element {
        width: 40px;
        height: 1px;
        background-color: #707070;
        margin: 0 auto;
        @media (max-width: 426px) {
          background: #cecece;
          margin-bottom: 10px;
        }
      }
    }

    .row {
      padding: 0px 125px;
      @media (max-width: 1441px) {
        padding: 0 50px;
      }
      @media (max-width: 760px) {
        padding: 0 50px;
      }
      @media (max-width: 426px) {
        padding: 0 15px;
        flex-wrap: wrap-reverse;
        margin-top: 50px;
      }
      .col-lg-6 {
        .img__page {
          max-height: 890px;
          display: flex;
          justify-content: center;
          align-items: center;
          @media (max-width: 1441px) {
            height: 550px;
          }
          @media (max-width: 769px) {
            height: 450px;
          }
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            @media (max-width: 767px) {
              width: 70%;
            }
            @media (max-width: 426px) {
              width: 100%;
            }
            @media (max-width: 376px) {
              height: 75%;
            }
          }
          @media (max-width: 760px) {
            margin-bottom: 30px;
          }
        }
      }
      .align-img {
        padding: 0;
        @media (max-width: 426px) {
          padding: 0;
        }
      }
      .wrap__element {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Helvetica";
        padding: 0px;
        .empty__element {
          width: 40px;
          height: 1px;
          background-color: #707070;
          margin: 0 auto;
          @media (max-width: 426px) {
            background: #cecece;
            margin-bottom: 10px;
          }
        }
        .big__word {
          font-size: 40px;
          font-family: "Didot";
          @media (max-width: 1024px) {
            font-size: 50px;
          }
          @media (max-width: 769px) {
            font-size: 35px;
          }
          @media (max-width: 426px) {
            font-size: 20px;
          }
        }
        .title__element {
          font-size: 16px;
          letter-spacing: 1px;
          font-family: "Helvetica";
          line-height: 27px;
          margin-bottom: 40px;
          color: #797979;
          @media (max-width: 1441px) {
            font-size: 14px;
          }
          @media (max-width: 769px) {
            font-size: 10px;
          }
          @media (max-width: 426px) {
            font-size: 8px;
            line-height: 22px;
          }
        }
        .next_element {
          font-size: 16px;
          font-family: "Helvetica";
          padding: 15px 38px;
          color: #ffffff;
          background-color: #e01042;
          border: 1px solid #ce3047;
          font-weight: 600;
          letter-spacing: 2px;
          @media (max-width: 1441px) {
            margin-bottom: 20px;
            font-size: 12px;
            padding: 15px 35px;
            font-weight: 700;
          }
          @media (max-width: 769px) {
            margin-bottom: 20px;
          }
          @media (max-width: 426px) {
            font-size: 10px !important;
          }
        }
        .next_element:hover {
          transition: 0.5s;
          color: #e01042;
          background: white;
        }
        .flex__element--top {
          .text__headlines {
            font-family: "Helvetica";
            color: #797979;
            letter-spacing: 2px;
            @media (max-width: 1441px) {
              font-size: 12px;
            }
            @media (max-width: 769px) {
              font-size: 10px;
            }
            @media (max-width: 426px) {
              font-size: 8px;
            }
          }
        }
      }
    }
  }
}
.container__item-block {
  text-align: center;
  padding-top: 50px;
  background-color: #f9f9f9;
  font-family: "Helvetica";
  @media (max-width: 1441px) {
    margin-top: 70px;
  }
  @media (max-width: 769px) {
    padding-top: 30px;
    margin-top: 20px;
  }
  .empty__element-block {
    width: 40px;
    height: 1px;
    background-color: #707070;
    margin: 0 auto;
    @media (max-width: 426px) {
      background: #cecece;
      margin-bottom: 10px;
    }
  }
  .text__center--top {
    margin-bottom: 20px;
    font-size: 14px;
    letter-spacing: 2px;
    font-family: "Helvetica" !important;
    color: #797979;
    @media (max-width: 1441px) {
      font-size: 12px;
    }
    @media (max-width: 1025px) {
      margin-bottom: 10px;
    }
    @media (max-width: 769px) {
      font-size: 10px;
    }
    @media (max-width: 426px) {
      font-size: 8px;
      letter-spacing: 2px;
      margin-bottom: 20px;
    }
  }
  .big__word-block {
    font-size: 70px;
    font-family: "Didot";
    letter-spacing: 4px;
    line-height: 82px;
    margin-top: 30px;
    margin-bottom: 60px;
    @media (max-width: 1441px) {
      font-size: 50px;
      line-height: 60px;
      margin-bottom: 50px;
      margin-top: 20px;
    }
    @media (max-width: 1025px) {
      font-size: 40px;
      line-height: 60px;
      margin-bottom: 20px;
      margin-top: 20px;
    }
    @media (max-width: 769px) {
      font-size: 30px;
      margin-top: 10px;
      margin-bottom: 15px;
    }
    @media (max-width: 426px) {
      margin-top: 10px;
      font-size: 32px;
      line-height: 40px;
      letter-spacing: 3px;
      margin-bottom: 20px;
    }
  }
  .item__element {
    position: relative;
    .img__page-block {
      // position: relative;
      width: 100% !important;
      padding-bottom: 450px;
      background-position: center;
      background-size: cover;
      @media (min-width: 1025px) {
        height: 627px;
      }
      @media (max-width: 769px) {
        padding-bottom: 400px;
      }
    }
    .page__overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      background-color: rgba(0, 0, 0, 0.3);
    }
    .content__element-block {
      position: absolute;
      padding-bottom: 36px;
      left: 140px;
      background-color: #ffffff;
      @media (min-width: 1025px) {
        top: 120px;
        max-width: 625px;
      }
      @media (max-width: 1025px) {
        top: 35px;
        width: 400px;
      }
      @media (max-width: 1441px) {
        left: 50px;
      }

      @media (max-width: 769px) {
        max-width: 400px;
        top: 48px;
      }
      @media (max-width: 426px) {
        max-width: 350px;
        top: 70px;
        left: 19px;
        padding-bottom: 25px;
      }
     
      @media (max-width: 321px) {
       width: 310px;
        top: 50px;
        left: 5px;
      }
      .txt__headline {
        font-size: 36px;
        font-family: "Helvetica";
        font-weight: 700;
        letter-spacing: 2px;
        padding-top: 36px;
        text-align: left;
        margin-left: 63px;
        @media (max-width: 1441px) {
          font-size: 27px;
        }
        @media (max-width: 1025px) {
          margin-left: 5px;
          font-size: 20px;
          padding-left: 32px;
          text-align: start;
        }
        @media (max-width: 769px) {
          font-size: 21px;
          margin-bottom: 13px;
        }
        @media (max-width: 426px) {
          font-size: 19px;
          padding-left: 20px;
          padding-bottom: 0px;
        }
        
        @media (max-width: 320px) {
          padding-left: 15px;
          padding-top: 28px;
        }
      }
      .flex__item {
        display: flex;
        margin-left: 60px;
        font-family: "Helvetica";
        line-height: 26px;
        letter-spacing: 1px;
        font-size: 16px;
        padding-right: 50px;
        @media (max-width: 1441px) {
          font-size: 14px;
        }
        @media (max-width: 1025px) {
          font-size: 14px;
          padding-left: 32px;
          margin-left: 0px;
          padding-right: 20px;
        }
        @media (max-width: 426px) {
          padding-left: 25px !important;
          padding-right: 0;
        }
        @media (max-width: 321px) {
           padding-bottom: 0;
        }
        .txt__item {
          text-align: left;
          margin-bottom: 5px;
          padding-left: 20px;
          p {
            margin-bottom: 0px;
          }
          @media (max-width: 1025px) {
            padding-left: 10px;
          }
          @media (max-width: 769px) {
            font-size: 12px;
            line-height: 25px;
            padding-right: 10px;
          }
          @media (max-width: 426px) {
            line-height: 20px;
            padding-left: 10px;
          }
          @media (max-width: 375px) {
            font-size: 10px;
            padding-bottom: 5px;
          }
        }
        @media (max-width: 426px) {
          padding-left: 10px;
        }
        .img__item {
          width: 15px;
          height: 15px;
          margin: 4px 20px 0 30px;
        }
      }
    }
  }
}

.founder__main {
  text-align: center;
  padding: 100px 140px 100px 140px;
  @media (max-width: 1441px) {
    padding: 50px;
  }
  @media (max-width: 769px) {
    padding: 60px 15px 60px 15px;
  }
  img {
    width: 100px;
    @media (max-width: 1441px) {
      width: 80px;
    }
    @media (max-width: 426px) {
      width: 75px;
    }
  }
  .txt__item--content {
    font-family: "Giroly";
    width: 52%;
    margin: 0 auto;
    margin-bottom: 25px;
    font-weight: 800;
    font-size: 25px;
    letter-spacing: 2px;
    @media (max-width: 1441px) {
      font-size: 21px;
    }
    @media (max-width: 1025px) {
      width: 80%;
      font-size: 21px;
    }
    @media (max-width: 769px) {
      font-size: 16px;
      width: 69%;
    }
    @media (max-width: 426px) {
      font-size: 14px;
      width: 87%;
      margin-bottom: 10px;
      letter-spacing: 1px;
    }
  }
  .founder__item {
    letter-spacing: 2px;
    margin-top: 50px;
    color: #e01042;
    font-size: 30px;
    font-weight: 700;
    font-family: "Giroly";
    @media (max-width: 1441px) {
      font-size: 24px;
    }
    @media (max-width: 1025px) {
      margin-top: 20px;
    }
    @media (max-width: 769px) {
      font-size: 21px;
      margin-bottom: 6px;
    }
    @media (max-width: 426px) {
      font-size: 15px;
      margin-top: 15px;
      margin-bottom: 5px;
    }
  }
  .founder__name {
    letter-spacing: 2px;
    margin-bottom: 50px;
    font-family: "Giroly";
    font-size: 20px;
    @media (max-width: 1441px) {
      font-size: 16px;
    }
    @media (max-width: 769px) {
      margin-bottom: 0px;
      font-size: 14px;
    }
    @media (max-width: 426px) {
      font-size: 12px;
    }
  }
}
.enjoy-video {
  margin-bottom: 100px;
  .poster > div > img {
    object-fit: cover !important;
  }
  .video-react-controls {
    padding-bottom: 15px;
  }
  .one___flkjsjJJNJnn_nANN8hG_YG7GY7g7BH9 {
    height: 690px;
    @media (max-width: 1441px) {
      height: 460px;
    }
    @media (max-width: 769px) {
      height: 500px;
    }
    @media (max-width: 426px) {
      height: 300px;
    }
    svg {
      @media (max-width: 426px) {
        font-size: 20px;
      }
    }
  }
}
.content__mid {
  color: white;
  margin-bottom: 20px;
  font-size: 14px;
  letter-spacing: 4px;
  @media (max-width: 769px) {
    margin: 0;
  }
}
.flex__element--top {
  height: 100%;
  width: 70%;
  @media (min-width: 1626px) {
    padding-top: 175px;
  }
  @media (max-width: 1441px) {
    height: 100%;
    padding-top: 10%;
    width: 85%;
    .bigs__words--mid {
      font-size: 50px;
    }
  }
  @media (max-width: 1025px) {
    height: 100%;
    padding-top: 13%;
    width: 85%;
    .bigs__words--mid {
      font-size: 45px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .title__element {
      margin-bottom: 20px !important;
    }
    button.next_element {
      font-size: 12px !important;
    }
  }
  @media (max-width: 769px) {
    padding-top: 60px;
    width: 90%;
    margin-top: 0% !important;
    p.text__headline {
      font-size: 13px !important;
      margin-bottom: 5px;
    }
    p.bigs__words--mid {
      font-size: 30px;
      line-height: 40px;
      letter-spacing: 2px;
      @media (max-width: 426px) {
        font-size: 32px;
        margin-bottom: 20px;
      }
    }
    p.title__element {
      font-size: 12px !important;
      line-height: 21px !important;
      @media (max-width: 426px) {
        width: 100%;
      }
    }
    button.next_element {
      padding: 8px 20px !important;
      font-size: 12px !important;
    }
  }
  @media (max-width: 426px) {
    padding-top: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .empty__element {
    width: 40px;
    height: 1px;
    background-color: #707070;
    margin: 0 auto;
    @media (max-width: 426px) {
      background: #cecece;
      margin-bottom: 10px;
    }
  }
}
.txt__word-item {
  color: white;
  font-size: 70px;
  font-family: "Didot";
  letter-spacing: 4px;
  line-height: 82px;
  margin-top: 30px;
  margin-bottom: 40px;
  @media (max-width: 1024px) {
    font-size: 40px;
    line-height: 60px;
    margin: 10px 0;
  }
  @media (max-width: 769px) {
    font-size: 35px;
  }
  @media (max-width: 426px) {
    font-size: 20px;
    line-height: 30px;
  }
}
.bigs__words--mid {
  font-size: 70px;
  font-family: "Didot";
  letter-spacing: 4px;
  line-height: 82px;
  margin-top: 30px;
  margin-bottom: 40px;
  @media (max-width: 1441px) {
    font-size: 65px;
    line-height: 70px;
    margin-bottom: 30px;
  }
  @media (max-width: 769px) {
    font-size: 35px;
  }
  @media (max-width: 426px) {
    font-size: 32px;
  }
}
.main__view--slider {
  text-align: center;
  margin-top: 140px;
  margin-bottom: 140px;
  padding: 0 140px 0px 140px;
  font-family: Helvetica;
  @media (max-width: 1441px) {
    padding: 0 50px 0px 50px;
    margin-top: 50px;
    margin-bottom: 100px;
  }
  @media (max-width: 769px) {
    margin-bottom: 50px;
  }
  @media (max-width: 426px) {
    padding: 0 15px 0px 15px;
  }
  .text__headline--view {
    font-family: "Helvetica";
    margin-bottom: 20px;
    font-size: 14px;
    letter-spacing: 2px;
    color: #797979;
    @media (max-width: 1441px) {
      font-size: 12px;
    }
    @media (max-width: 1025px) {
      margin-bottom: 10px;
    }
    @media (max-width: 769px) {
      font-size: 10px;
    }
    @media (max-width: 426px) {
      font-size: 8px;
      letter-spacing: 2px;
      margin-bottom: 20px;
    }
  }
  .big__word-view {
    font-size: 70px;
    font-family: "Didot";
    letter-spacing: 4px;
    line-height: 82px;
    margin-top: 30px;
    margin-bottom: 40px;
    @media (max-width: 1441px) {
      font-size: 50px;
      line-height: 60px;
      margin-bottom: 50px;
      margin-top: 20px;
    }
    @media (max-width: 1025px) {
      font-size: 40px;
      line-height: 60px;
      margin-bottom: 20px;
      margin-top: 20px;
    }
    @media (max-width: 769px) {
      font-size: 30px;
      margin-top: 10px;
      margin-bottom: 15px;
    }
    @media (max-width: 426px) {
      margin-top: 10px;
      font-size: 32px;
      line-height: 40px;
      letter-spacing: 3px;
      margin-bottom: 35px;
    }
  }
  .main__slider {
    margin-top: 30px;
    .slider__item__cover {
      width: 450px !important;
      height: 350px !important;
      @media (max-width: 1441px) {
        width: 400px !important;
      }
      @media (max-width: 769px) {
        width: 300px !important;
        height: 250px !important;
      }
      @media (max-width: 426px) {
        width: 340px !important;
        height: 250px !important;
      }
      .item-block {
        height: 100%;
        position: relative;
        background-color: rgba(0, 0, 0, 0.3);
        background-blend-mode: color;
        background-position: center;
        background-repeat: no-repeat;
        cursor: pointer;
        &:hover {
          .news-content {
            transform: translateY(166px);
          }
          @media (max-width: 1025px) {
            .news-content {
              transform: translateY(182px);
            }
          }
          @media (max-width: 769px) {
            .news-content {
              transform: translateY(92px);
            }
          }
        }
        img {
          height: 100%;
          object-fit: cover;
        }
        .news-content {
          position: absolute;
          z-index: 2;
          width: 100%;
          height: 100%;
          top: 0;
          display: flex;
          flex-direction: column;
          transform: translateY(233px);
          transition-duration: 0.8s;
          cursor: pointer;
          @media (max-width: 1025px) {
            transform: translateY(247px);
          }
          @media (max-width: 769px) {
            transform: translateY(92px);
          }
          // padding-top: 200px;
          &:hover {
            .news-content {
              transform: translateY(166px);
            }
            @media (max-width: 1025px) {
              transform: translateY(182px);
            }
            @media (max-width: 769px) {
              transform: translateY(92px);
            }
          }
          .item__content {
            font-size: 14px;
            letter-spacing: 2px;
            color: #fff;
            text-align: start;
            padding-left: 30px;
            padding-right: 15px;
            @media (max-width: 769px) {
              margin-bottom: 10px;
            }
            @media (max-width: 426px) {
              font-size: 12px;
            }
          }
          .item__content-cover {
            font-size: 24px;
            line-height: 28px;
            color: #ffffff;
            text-align: start;
            padding-left: 30px;
            padding-right: 15px;
            margin-bottom: 25px;
            @media (max-width: 1025px) {
              font-size: 18px;
            }
            @media (max-width: 1025px) {
              font-size: 16px;
              line-height: 20px;
            }
          }
          .item__btn-main {
            width: 100%;
            height: 65px;
            background-color: #fff;
            font-size: 16px;
            font-weight: 600;
            padding-left: 30px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            border-bottom: 1px solid #eaeaea;
            @media (max-width: 769px) {
              font-size: 14px;
            }
          }
        }
      }
    }
  }

  .empty__element-view {
    width: 40px;
    height: 1px;
    background-color: #bdb7b0;
    margin: 0 auto;
  }

  .btn__item-click {
    margin-top: 50px;
    button {
      border: 3px solid transparent;
      background-color: #e01042;
      padding: 15px 38px;
      font-size: 16px;
      color: #fff;
      letter-spacing: 2px;
      font-weight: 600;
      @media (max-width: 1441px) {
        font-size: 12px;
        padding: 15px 35px;
      }
      @media (max-width: 1025px) {
        padding: 9px 18px;
      }
      @media (max-width: 769px) {
        font-size: 12px;
        padding: 8px 20px;
      }
      @media (max-width: 426px) {
        font-size: 10px;
        padding: 8px 20px;
        border: 1px solid #fff;
      }
      &:hover {
        background-color: #ffffff;
        color: #e01042;
        border: 3px solid #e01042;
      }
    }
  }
}
.slider__item {
  padding-left: 140px !important;
  padding-right: 140px !important;
  margin-bottom: 150px;
  @media (max-width: 1441px) {
    padding-left: 50px !important;
    padding-right: 50px !important;
  }
  @media (max-width: 769px) {
    padding-left: 30px !important;
    padding-right: 30px !important;
  }
  @media (max-width: 426px) {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
  &__cover {
    width: 400px !important;
    height: 250px;
    .news__img {
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }
}

.main__field {
  background-color: #f9f9f9;
  text-align: center;
  padding: 60px 140px 80px 140px;
  @media (max-width: 1441px) {
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 70px;
  }
  @media (max-width: 426px) {
    padding: 0;
  }
  .text__headline--field {
    font-family: Helvetica;
    margin-bottom: 20px;
    letter-spacing: 2px;
    font-size: 14px;
    color: #797979;
    @media (max-width: 1441px) {
      font-size: 12px;
      letter-spacing: 2px;
    }
    @media (max-width: 769px) {
      font-size: 10px;
    }
    @media (max-width: 426px) {
      font-size: 8px;
      padding-top: 50px;
    }
  }
  .empty__element--field {
    width: 40px;
    height: 1px;
    background-color: #bdb7b0;
    margin: 0 auto;
  }
  .big__word--field {
    font-size: 70px;
    font-family: "Didot";
    letter-spacing: 4px;
    line-height: 82px;
    margin-top: 30px;
    margin-bottom: 60px;
    @media (max-width: 1441px) {
      font-size: 50px;
      line-height: 60px;
      margin-bottom: 50px;
      margin-top: 20px;
    }
    @media (max-width: 1025px) {
      font-size: 40px;
      line-height: 60px;
      margin-bottom: 20px;
      margin-top: 20px;
    }
    @media (max-width: 769px) {
      font-size: 30px;
      margin-top: 10px;
      margin-bottom: 15px;
    }
    @media (max-width: 426px) {
      margin-top: 10px;
      font-size: 32px;
      line-height: 40px;
      letter-spacing: 3px;
      margin-bottom: 35px;
    }
  }
  .main__slider {
    position: relative;
  }
  .item__field__size {
    padding-left: 30px;
    padding-right: 30px;
    @media (max-width: 1441px) {
      padding-left: 15px;
      padding-right: 15px;
    }
    @media (max-width: 426px) {
      width: 80%;
    }
    .item__field__wrapper {
      width: 100%;
      position: relative;
      cursor: pointer;
      &:hover {
        .img__field--overlay {
          background-color: rgba(225, 4, 2, 0.4);
        }
      }
      .img__field--overlay {
        background-color: rgba(0, 0, 0, 0.2);
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
      }
      .box__item {
        position: absolute;
        z-index: 2;
      }
    }
  }
  .img__field {
    width: 100%;
    height: 635px;
    object-fit: cover;
    position: relative;
    @media (max-width: 1441px) {
      height: 460px;
    }
    @media (max-width: 769px) {
      height: 500px;
    }
    @media (max-width: 426px) {
      height: 400px;
    }
  }

  .img__field::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
  }
}
.item__field__size {
  position: relative;
  .box__item {
    position: absolute;
    bottom: 80px;
    text-align: left;
    left: 40px;
    font-family: "Helvetica";
    @media (max-width: 1441px) {
      left: 24px;
    }
    .empty__box {
      width: 40px;
      height: 1px;
      background-color: #ffffff;
      margin-bottom: 20px;
    }
    .txt__number {
      margin: 10px 0 10px 0;
      font-size: 32px;
      color: #ffffff;
      font-weight: 600;
      margin-bottom: 0;
      @media (max-width: 1441px) {
        font-size: 24px;
      }
      @media (max-width: 769px) {
        font-size: 30px;
      }
      @media (max-width: 426px) {
        font-size: 27px;
      }
      span {
        font-size: 21px;
        font-weight: 300;
      }
    }
    .txt__adress {
      color: #ffffff;
      letter-spacing: 2px;
      margin-bottom: 0;
      margin: 10px 0 10px 0;
      font-family: "Helvetica";
      @media (max-width: 1441px) {
        font-size: 12px;
      }
    }
    .txt__hotel {
      font-size: 24px;
      color: #ffffff;
      font-weight: 600;
      margin-bottom: 0;
      margin: 10px 0 10px 0;
      @media (max-width: 1441px) {
        font-size: 20px;
      }
      @media (max-width: 769px) {
        font-size: 18px;
      }
    }
    .btn__field {
      letter-spacing: 1px;
      padding: 9px 26px;
      color: #ffffff;
      background-color: #e01042;
      border: none;
      font-weight: 600;
      margin-top: 10px;
      border: 1px solid transparent;
      @media (max-width: 1441px) {
        font-size: 10px;
      }
      @media (max-width: 769px) {
        padding: 8px 20px;
        font-size: 12px;
      }
    }
    .btn__field:hover {
      color: #e01042;
      background-color: #ffffff;
      border: 1px solid #e01042;
    }
  }
}
.text__headlines {
  margin-bottom: 20px;
  font-size: 14px;
  letter-spacing: 2px;
  font-family: "Helvtica";
  color: #797979;
  @media (max-width: 1441px) {
    font-size: 12px;
  }
  @media (max-width: 769px) {
    font-size: 10px;
  }
  @media (max-width: 426px) {
    font-size: 8px;
  }
}
.img__page-blocks {
  height: 100%;
  max-width: 100%;
  object-fit: cover;
  @media (max-width: 1920px) {
    height: 600px;
    width: 100%;
  }
  @media (max-width: 1441px) {
    height: 480px;
    width: 100%;
  }
  @media (max-width: 1025px) {
    height: 400px;
  }
}
.block__details {
  width: 90%;
  border: 1px solid #dbdbdb;
  margin-bottom: 50px;
  margin-right: 50px;
  @media (max-width: 768px) {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  @media (max-width: 425px) {
    width: 100%;
    margin-bottom: 15px;
  }
  .img__news {
    height: 276px;
    width: 100%;
    background-position: center;
    background-size: cover;
    @media (max-width: 1920px) {
      height: 276px;
    }
    @media (max-width: 1441px) {
      height: 200px;
    }
    @media (max-width: 769px) {
      height: 169px;
    }
    @media (max-width: 426px) {
      height: 254px;
    }
    @media (max-width: 375px) {
      height: 230px;
    }
    @media (max-width: 321px) {
      height: 158px;
    }
  }
  .ingredient__item {
    width: 100%;
    height: auto;
    .item__wrap {
      padding-left: 20px;
      padding-right: 20px;
      .txt__small {
        text-align: left;
        color: gray;
        font-size: 14px;
        padding-top: 20px;
        margin-bottom: 5px;
        letter-spacing: 1px;
        @media (max-width: 1441px) {
          font-size: 12px;
        }
      }
      .empty__item {
        width: 40px;
        height: 1px;
        background-color: #707070;
        @media (max-width: 426px) {
          background: #cecece;
          margin-bottom: 10px;
        }
      }
      .txt__contents {
        height: 45px;
        text-align: left;
        font-weight: 600;
        margin-top: 18px;
        font-size: 16px;
        font-family: "Helvetica";
        letter-spacing: 1px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        @media (max-width: 1441px) {
          font-size: 14px;
        }
      }
      .btn__news {
        padding: 7px 14px;
        border: 1px solid #e01042;
        margin-bottom: 20px;
        font-weight: 500;
        background-color: #e01042;
        color: #ffffff;
        font-size: 14px;
        letter-spacing: 1px;
        justify-content: left;
        display: flex;
        @media (max-width: 1441px) {
          font-size: 12px;
        }
      }
      .btn__news:hover {
        color: #e01042;
        border: 1px solid #e01042;
        background-color: #f9f9f9;
        transition: 0.5s;
      }
    }
  }
}
