@import "./common.scss";
img {
    object-fit: cover;
}
p.txt__adress{
    font-family: Gigory;
}

.investment-wrapper {
    width: 100%;
    padding: 100px 140px;
    @media (max-width: 1440px) {
        padding: 50px 50px;
    }
    @media (max-width: 768px) {
        padding: 50px 15px;
    }
    .container-fluid {
        padding: 0;
        .row {
            width: 100%;
            margin: 0;
            display: flex;
            margin-bottom: 50px;
            box-shadow: 0px 2px 3px 2px #e8e8e8;
            @media (max-width: 1024px) {
                padding: 0 50px;
            }
            @media (max-width: 1024px) {
                padding: 0;
            }
            &:hover {
                img {
                    transform: scale(1.5);
                    transition: 1s;
                }
                .bg-inner {
                    opacity: 1 !important;
                }
            }
            .col-img {
                overflow: hidden;
                .img-wrapper {
                    @media (max-width: 1920px) {
                        height: 500px;
                    }
                    @media (max-width: 1441px) {
                        height: 455px;
                    }
                    @media (max-width: 769px) {
                        height: 305px;
                    }
                    @media (max-width: 426px) {
                        height: 230px;
                    }
                    position: relative;
                    .bg-inner {
                        position: absolute;
                        height: 100%;
                        width: 100%;
                        top: 0;
                        left: 0;
                        z-index: 2;
                        transition: 0.6s;
                        background-color: rgba(#e01042, 0.67);
                        transition: 0.6s;
                        opacity: 0;
                    }
                    img {
                        width: 100%;
                        height: 100% !important;
                        transition: 1s;
                    }
                }
            }
            .col-investment {
                padding: 0;
            }
            .col-content {
                padding-left: 70px;
                padding-right: 20px;
                padding: 50px 20px 50px 50px;
                display: flex;
                align-items: center;
                @media (max-width: 1024px) {
                    padding: 40px 20px 40px 40px;
                }
                @media (max-width: 425px) {
                    padding: 20px 10px 20px 20px;
                }
                .content-wrapper {
                    text-align: left;
                    font-family: "Helvetica";
                    line-height: 27px !important;
                    @media (max-width: 768px) {
                        line-height: 23px !important;
                    }
                    @media (max-width: 422px) {
                        line-height: 22px !important;
                    }
                    strong {
                        font-size: 32px;
                        font-weight: bold;
                        opacity: 100%;
                        @media (max-width: 1025px) {
                            font-size: 27px;
                        }
                        @media (max-width: 769px) {
                            font-size: 21px;
                        }
                        @media (max-width: 425px) {
                            font-size: 21px;
                        }
                    }
                    span {
                        font-size: 23px;
                    }
                    h2 {
                        font-size: 21px;
                        font-weight: bold;
                        color: #e01042;
                        margin-top: 10px;
                        margin-bottom: 20px;
                        text-transform: uppercase;
                        @media (max-width: 769px) {
                            margin-top: 10px;
                            margin-bottom: 15px;
                            font-size: 18px;
                        }
                        @media (max-width: 425px) {
                            font-size: 18px;
                        }
                    }
                    p {
                        margin-bottom: 25px;
                        font-family: Helvetica;
                        font-size: 16px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        @media (max-width: 1441px) {
                            font-size: 14px;
                        }
                        @media (max-width: 769px) {
                            font-size: 12px;
                        }
                        
                    }
                    .read-more-btn {
                        padding: 5px 18px;
                        background-color: #e01042;
                        color: #fff;
                        cursor: pointer;
                        font-size: 14px;
                        font-weight: 700;
                        transition: 0.5s;
                        border: 2px solid #e01042;
                        @media (max-width: 1025px) {
                            font-size: 12px;
                            padding: 5px 20px;
                        }
                        @media (max-width: 768px) {
                            font-size: 12px;
                        }
                        @media (max-width: 425px) {
                            font-size: 10px;
                        }
                        @media (max-width: 375px) {
                            padding: 3px 12px;
                        }
                        &:hover {
                            text-decoration: none;
                            background-color: #fff;
                            border: 1px solid #e01042;
                            color: #e01042;
                            transition: 0.5s;
                        }
                    }
                }
            }
        }
        .investment__row--second,
        .investment__row--fourth {
            .col-content {
                order: 1;
                padding: 50px 50px 50px 20px;
                @media (max-width: 1024px) {
                    padding: 40px 40px 40px 20px;
                }
                @media (max-width: 575px) {
                    order: 2;
                }
                @media (max-width: 425px) {
                    padding: 20px 20px 20px 10px;
                }
                .content-wrapper {
                    text-align: right;
                }
            }
            .col-img {
                order: 2;
                @media (max-width: 575px) {
                    order: 1;
                }
            }
        }
        .row:nth-of-type(4n) {
            margin-bottom: 50px;
        }
    }
}
