@import "./common.scss";

.scrollTransform {
  transform: translateY(-42px);
}
header {
  width: 100%;
  @media (max-width: 1024px) {
    display: none !important;
  }
  min-height: 110px;
  .header__wrapper {
    position: fixed;
    top: 0%;
    z-index: 39;
    width: 100%;
    transition-duration: 0.8s;
    &--top {
      min-height: 40px;
      border: 1px solid #eaeaea;
      background: #fff;
      font-size: 16px;
      .wrapper__top {
        width: 100%;
        display: flex;
        min-height: 40px;
        padding-left: 140px;
        padding-right: 140px;
        justify-content: space-between;
        align-items: center;
        color: #1b1c1b;
        font-size: 13px;
        @media (max-width: 1440px) {
          padding-left: 50px;
          padding-right: 50px;
        }
        .contact {
          display: flex;
          opacity: 1;
          color: #797979;
          &__number {
            span {
              font-size: 13px;
            }
          }
          &__mail {
            margin-left: 20px;
            span {
              font-size: 13px;
            }
          }
        }
        &--right {
          display: flex;
          opacity: 1;
          color: #797979;
          &__contact {
            margin-left: 20px;
          }
        }
      }
    }
    &--bottom {
      background-color: #282828;
      min-height: 80px;
      .wrapper__bottom {
        display: flex;
        padding-left: 140px;
        padding-right: 140px;
        width: 100%;
        min-height: 80px;
        color: #ffffff;
        font-family: Giroly;
        justify-content: space-between;
        @media (max-width: 1440px) {
          padding-left: 50px;
          padding-right: 50px;
        }
        &--logo {
          display: flex;
          align-items: center;
          img {
            width: 70px;
            height: auto;
            object-fit: contain;
          }
        }
        &--nav {
          margin-bottom: 0;
          align-items: center;
          display: flex;
          padding-left: 0px;
          position: relative;
          li {
            span {
              padding-left: 40px;
              padding-right: 40px;
              font-size: 14px;
              @media (max-width: 1440px) {
                padding-left: 30px;
                padding-right: 30px;
              }
              @media (max-width: 1200px) {
                padding-left: 20px;
                padding-right: 20px;
              }
            }
          }
        }
        &--right {
          display: flex;
          align-items: center;

          .country {
            margin-right: 15px;
            img {
              width: 20px;
              height: auto;
              object-fit: contain;
            }
          }
          .search {
            &__input {
              position: absolute;
              bottom: -15%;
              right: 4%;
              input {
                padding: 5px;
                width: 350px;
                &:focus {
                  outline-width: 0;
                }
              }
              &--close {
                cursor: pointer;
                right: 3%;
                top: 10%;
                position: absolute;
              }
              .list__blog {
                position: absolute;
                top: 100%;
                ul {
                  background: #ffffff;
                  width: 350px;
                  max-height: 465px;
                  padding: 8px;
                  overflow-y: scroll;
                  border: 1px solid #eaeaea;
                  li {
                    border-bottom: 1px solid #eaeaea;
                    padding-bottom: 8px;
                    padding-top: 8px;
                    .image {
                      display: flex;
                      img {
                        width: 70px;
                        height: 70px;
                        object-fit: cover;
                      }
                      .content__title {
                        color: blue;
                        padding-left: 5px;
                        cursor: pointer;
                      }
                    }
                    .content {
                      padding-top: 5px;
                      &__description {
                        color: #000;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        max-height: 70px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

footer {
  font-family: Giroly;
  background-color: #282828;
  .footer__wrapper {
    &--top {
      color: rgba($color: #fff, $alpha: 0.87);
      padding-top: 70px;
      padding-bottom: 70px;
      @media (max-width: 992px) {
        padding-top: 30px;
        padding-bottom: 30px;
      }
      .wrapper__top {
        padding-left: 140px;
        padding-right: 140px;
        @media (max-width: 1441px) {
          padding-left: 50px;
          padding-right: 50px;
        }
        @media (max-width: 769px) {
          padding-left: 15px;
          padding-right: 15px;
        }
        &__item {
          &--top {
            font-weight: bold;
            letter-spacing: 2px;
            font-size: 24px;
            @media(max-width:1441px){
              font-size: 21px;
            }
            @media (max-width: 769px) {
              font-size: 16px;
            }
            @media (max-width: 426px) {
              font-size: 13px;
              letter-spacing: 1px;
            }
          }
          &--mid {
            font-weight: 300;
            letter-spacing: 2px;
            font-size: 14px;
            margin-top: 6px;
            @media(max-width:1441px){
              font-size: 12px;
            }
            @media (max-width: 769px) {
              font-size: 13px;
            }
            @media (max-width: 426px) {
              font-size: 10px;
            }
          }
          .fl-right {
            @media (max-width: 376px) {
              text-align: right;
            }
          }
          &--bottom {
            margin-top: 15px;
            &:nth-child(1){
              margin-top: 5px;
            }
            
            ul {
              display: flex;
              align-items: center;
              margin-bottom: 0px;
              padding-left: 0px;
              li {
                padding: 0px 12px 0px 12px;
                img {
                  @media (max-width: 1441px) {
                    height: 21px;
                    width: 21px;
                  }
                  @media (max-width: 376px) {
                    height: 20px;
                    width: 20px;
                  }
                }
                &:nth-child(1) {
                  padding-left: 0px;
                }
              }
            }
            img {
              @media (max-width: 769px) {
                width: 25px;
              }
            }

          }
          .bottom--weather{
            margin-top: 5px;
            .icon-weather{
              width: 60px;
              height: auto;
              object-fit: contain;
              @media (max-width: 376px) {
                width: 50px;
              }
            }
          }
          .sign__wrapper {
            display: flex;
            width: 100%;
            &__input {
              flex: 1;
              input {
                background-color: #151515;
                border: none;
                color: rgba($color: #fff, $alpha: 0.87);
                padding: 10px;
                width: 100%;
                letter-spacing: 1px;
                height: 100%;
                &:focus {
                  outline-width: 0;
                }
                @media(max-width:1441px){
                  padding: 8px;
                }
                @media (max-width: 426px) {
                  font-size: 12px;
                  padding: 5px;
                }
              }
            }
            &__btn {
              button {
                background-color: #e01042;
                color: rgba($color: #fff, $alpha: 0.87);
                padding: 8px 15px;
                border: none;
                font-size: 13px;
                letter-spacing: 1px;
                font-weight: 600;
                height: 100%;
                @media(max-width:1441px){
                  font-size: 12px;
                }
                @media (max-width: 426px) {
                  font-size: 10px;
                  padding: 5px 10px;
                }
              }
            }
          }
          &:nth-last-child(1) {
            @media (max-width: 992px) {
              margin-left: auto;
              margin-right: auto;
              margin-bottom: 20px;
              .wrapper__top__item--top,
              .wrapper__top__item--mid {
                text-align: center;
              }
            }
          }
          &:nth-child(1) {
            @media (max-width: 992px) {
              display: flex;
              justify-content: center;
              @media (max-width: 426px) {
                justify-content: flex-start;
                padding-left: 15px;
              }
            }
          }
          &:nth-child(2) {
            @media (max-width: 992px) {
              display: flex;
              justify-content: center;
            }
            @media (max-width: 426px) {
              justify-content: flex-end;
              padding-right: 15px;
            }
          }
        }
      }
    }
    &--bottom {
      min-height: 50px;
      width: 100%;
      font-size: 16px;
      @media (max-width: 993px) {
        font-size: 14px;
      }
      @media (max-width: 769px) {
        font-size: 13px;
      }
      @media (max-width: 600px) {
        display: none;
      }

      &__content {
        background-color: #151515;
        width: 100%;
        .wrapper__bottom {
          width: 100%;
          padding-left: 140px;
          padding-right: 140px;
          display: flex;
          justify-content: space-between;
          min-height: 50px;
          align-items: center;
          &--copy {
            color: rgba($color: #ffffff, $alpha: 0.63);
            font-weight: 600;
            letter-spacing: 1px;
            font-size: 16px;
            @media(max-width: 1441px){
              font-size: 12px;
            }
          }
          &--nav {
            display: flex;
            margin-bottom: 0px;
            padding-left: 0;
            li {
              span {
                color: #ffffff;
                padding: 15px;
               
                letter-spacing: 1px;
                text-decoration: none;
                color: rgba($color: #ffffff, $alpha: 0.63);
                &:hover {
                  color: #ffffff;
                  text-decoration: none;

                }
                @media(max-width: 1441px){
                  font-size: 12px;
                }
                @media (max-width: 769px) {
                  padding: 8px;
                }
              }
            }
          }
          @media (max-width: 1441px) {
            padding-left: 50px;
            padding-right: 50px;
          }
        }
      }
    }
  }
}

.header-menu-mobile {
  position: sticky;
  bottom: 0;
  min-height: 50px;
  width: 100%;
  background-color: black;
  color: #fff;
  z-index: 9;
  display: none;
  @media (max-width: 1024px) {
    display: block;
  }
  .header__wrapper {
    display: flex;
    min-height: 50px;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    @media (max-width: 426px) {
      padding-left: 15px;
      padding-right: 15px;
    }
    &--btn {
      display: flex;
      align-items: center;
    }
    &--nav {
      margin-bottom: 0px;
      display: flex;
      li {
        display: flex;
        align-items: center;
        a {
          color: #fff;
          padding-left: 40px;
          padding-right: 40px;
          img {
            width: 20px;
            height: auto;
            object-fit: contain;
          }
          @media (max-width: 767px) {
            padding-left: 35px;
            padding-right: 35px;
          }
          @media (max-width: 426px) {
            padding-left: 20px;
            padding-right: 20px;
          }
          @media (max-width: 370px) {
            padding-left: 15px;
            padding-right: 15px;
          }
        }
      }
    }
  }
}
.nav--mobile {
  top: 0;
  position: fixed;
  width: 100vw;
  background-color: #282828;
  color: #ffffff;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  flex-direction: column;
  z-index: 10;
  overflow: hidden;
  transition-duration: 1s;
  transform: translateX(-100%);
  &__content {
    flex: 1;
    padding-left: 0px;
    li {
      margin-top: 40px;
      margin-bottom: 10px;
      display: flex;
      justify-content: center;
      font-family: Helvetica;
      @media(max-width: 769px){
        margin-top: 20px;
        font-size: 14px;
      }
      @media(max-width: 426px){
        margin-top: 10px;
      }
    }
  }
  &__close{
    position: absolute;
    right: 10%;
  }
}
.openNavMobile {
  transform: translateX(0) !important;
}
.hero {
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  &__slider {
    max-width: 100%;
    max-height: 100%;
  }
  &__image {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
  }
  &__content {
    position: absolute;
    color: #fff;
    z-index: 4;
    width: 100%;
    height: 100%;
    top: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &--top {
      margin-bottom: 20px;
      font-size: 12px;
      letter-spacing: 4px;
      font-family: "Helvetica";
      @media (max-width: 768px) {
        font-size: 12px;
      }
      @media (max-width: 426px) {
        font-size: 8px;
        letter-spacing: 2px;
      }
      @media (max-width: 321px) {
        font-size: 11px;
      }
    }
    &--empty {
      width: 40px;
      height: 1px;
      background-color: #fff;
     
    }
    &--mid {
      letter-spacing: 10px;
      font-family: didot;
      padding-bottom: 20px;
      font-size: 45px;
      text-align: center;
      text-transform: uppercase;
      @media (max-width: 1024px) {
        font-size: 45px;
      }
      @media (max-width: 768px) {
        font-size: 30px;
      }
      @media (max-width: 426px) {
        font-size: 32px;
        margin-top: 20px;
        margin-bottom: 5px;
        letter-spacing: 4px;
        line-height: 40px;
      }
      @media (max-width: 376px) {
        font-size: 23px;
        margin-top: 0px;
        margin-bottom: 0px;
        letter-spacing: 3px;
      }
      @media (max-width: 321px) {
        font-size: 20px;
        letter-spacing: 3px;
      }
    }
    &--bottom {
      button {
        border: 2px solid #fff;
        background: transparent;
        padding: 15px 35px;
        font-size: 12px;
        color: #fff;
        letter-spacing: 2px;
        font-weight: 700;

        @media (max-width: 1024px) {
          font-size: 16px;
          padding: 9px 18px;
        }
        @media (max-width: 768px) {
          font-size: 13px;
          border: 2px solid #fff;
          padding: 7px 15px;
        }
        @media (max-width: 426px) {
          font-size: 12px;
          padding: 10px 20px;
          border: 1px solid #fff;
        }
      }
    }
  }
  &__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    background-color: rgba($color: #000000, $alpha: 0.3);
    z-index: 2;
  }
}
.hero__page {
  width: 100%;
  height: 30vh;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  &__content {
    padding-left: 140px !important;
    position: absolute;
    color: #fff;
    z-index: 4;
    width: 100%;
    height: 100%;
    top: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Helvetica";

    &--top {
      font-size: 36px;
      font-weight: bold;
      letter-spacing: 3px;
      font-family: Helvetica;
      @media (max-width: 1441px) {
        font-size: 21px;
      }
      @media (max-width: 1025px) {
        font-size: 21px;
      }
      @media (max-width: 769px) {
        font-size: 20px;
      }
    }
    &--mid {
      margin-top: 10px;
      font-size: 16px;
      font-family: 'Giroly';
      @media (max-width: 1025px) {
        font-size: 12px;
      }
      @media (max-width: 769px) {
        font-size: 12px;
        margin-top: 5px;
      }
    }
    @media (max-width: 1440px) {
      padding-left: 50px !important;
    }
    @media (max-width: 426px) {
      padding-left: 15px !important;
    }
  }
  &__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    background-color: rgba($color: #000000, $alpha: 0.17);
    z-index: 3;
  }
}

.wrapper-paginate {
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  ul {
    li {
      font-size: 30px;
      width: 50px;
      height: 50px;
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
      @media(max-width:1025px){
        width: 40px;
        height: 40px;
        font-size: 25px;
      }
      @media(max-width:769px){
        width: 40px;
        height: 40px;
        font-size: 20px;
      }
      @media(max-width:426px){
        width: 30px;
        height: 30px;
        font-size: 14px;
      }
      a {
        text-decoration: none;
        color: #333;
        font-size: 16px;
      }
      &:nth-child(1) {
        display: none;
      }
      &:nth-child(2) {
        display: none;
      }
      &:nth-last-child(1) {
        display: none;
      }
      &:nth-last-child(2) {
        display: none;
      }
    }
    li.active {
      background-color: #e01042 !important;
      a {
        color: #fff;
      }
    }
  }
}

.backToTop {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #e01042;
  position: fixed;
  z-index: 999;
  right: 1%;
  bottom: 5%;
  border-radius: 100%;
  svg {
    width: 24px;
    height: 24px;
  }
  @media(max-width:1025px){
    right: 2%;
    bottom: 10%;
  }
  @media(max-width:769px){
    width: 40px;
    height: 40px;
  }
}

.search-mobile{
  top: 0;
  position: fixed;
  width: 100vw;
  background-color: #282828;
  color: #ffffff;
  height: 100vh;
  display: flex;
  padding: 30px;
  flex-direction: column;
  z-index: 10;
  overflow: hidden;
  transition-duration: 1s;
  transform: translateX(100%);
  @media(max-width:426px){
    padding: 15px;
  }
  &__input{
    position: relative;
    input {
      padding: 5px;
      width: 100%;
      &:focus {
        outline-width: 0;
      }
    }
    &--btn {
      cursor: pointer;
      right: 1%;
      top: 10%;
      position: absolute;
    }
  }
  &__blog{
    background: #ffffff;
    width: 100%;
    max-height: 100%;
    padding: 8px;
    overflow-y: scroll;
    border: 1px solid #eaeaea;
    li {
      border-bottom: 1px solid #eaeaea;
      padding-bottom: 8px;
      padding-top: 8px;
      .image {
        display: flex;
        img {
          width: 70px;
          height: 70px;
          object-fit: cover;
        }
        .content__title {
          color: blue;
          padding-left: 5px;
          cursor: pointer;
        }
      }
      .content {
        padding-top: 5px;
        &__description {
          color: #000;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          max-height: 70px;
        }
      }
    }
  }
}