@import "./common.scss";

.timelineBlock {
  width: 100%;
  padding-left: 140px;
  padding-right: 140px;
  margin-top: 140px;
  margin-bottom: 140px;
  @media (max-width: 1441px) {
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 120px;
    margin-bottom: 50px;
  }
  @media (max-width: 769px) {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
}
.img-borderBottom {
  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width: 1023px) {
    display: none !important;
  }
  img {
    width: 89%;
    height: auto;
    object-fit: contain;
    @media (max-width: 1025px) {
      width: 100%;
    }
  }
}
.timeline-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  &__title {
    font-family: "Helvetica";
    margin-bottom: 20px;
    letter-spacing: 4px;
    font-size: 14px;
    color: #797979;
    @media (max-width: 1441px) {
      font-size: 12px;
    }
    @media (max-width: 1025px) {
      font-size: 14px;
      letter-spacing: 3x;
    }
    @media (max-width: 769px) {
      font-size: 9px;
    }
    @media (max-width: 426px) {
      font-size: 8px;
    }
  }
  &__border {
    width: 40px;
    height: 1px;
    background-color: #707070;
    margin: 0 auto;
  }
  &__label {
    font-size: 70px;
    font-family: "Didot";
    letter-spacing: 4px;
    line-height: 82px;
    margin-top: 30px;
    margin-bottom: 90px;
    @media (max-width: 1441px) {
      font-size: 50px;
      line-height: 60px;
      margin-bottom: 50px;
      margin-top: 20px;
    }
    @media (max-width: 1025px) {
      font-size: 40px;
      line-height: 60px;
      margin-bottom: 20px;
      margin-top: 20px;
    }
    @media (max-width: 769px) {
      font-size: 30px;
      margin-top: 10px;
      margin-bottom: 15px;
    }
    @media (max-width: 426px) {
      margin-top: 10px;
      font-size: 32px;
      line-height: 40px;
      letter-spacing: 3px;
      margin-bottom: 25px;
    }
    @media (max-width: 321px) {
      margin-top: 10px;
      font-size: 29px;
      line-height: 40px;
      letter-spacing: 3px;
      margin-bottom: 25px;
    }
  }
}

// .timeline__content .col-4{
//   @media(max-width: 1025px){
//     padding-left: 0px;
//     padding-right: 0px;
//   }
// }
.timeline {
  display: flex;
  justify-content: center;
  &__content {
    justify-content: space-evenly;
    width: 100%;
    @media (max-width: 1025px) {
      width: 96%;
      justify-content: space-between;
    }
  }
}

.timeline__content__item {
  background-color: #fff;
  position: relative;
  box-shadow: 0px 2px 3px 2px #eaeaea;
  min-height: 350px;
  width: 300px;
  font-family: "Helvetica";
  @media (max-width: 1441px) {
    min-height: 320px;
  }
  @media (max-width: 1025px) {
    width: 250px;
    min-height: 300px;
  }
  @media (max-width: 426px) {
    width: 340px;
    min-height: 260px;
    box-shadow: 0px 0px 3px 2px #ececec;
  }
  @media (max-width: 376px) {
    width: 320px;
  }
  @media (max-width: 320px) {
    width: 270px;
  }
  &--text {
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
    z-index: 9;
    display: flex;
    align-items: center;
    .wrapper__text {
      // padding-left: 30px;
      // padding-right: 30px;
      p {
        font-size: 16px;
        color: #282828;
        letter-spacing: 1px;
        line-height: 26px;
        padding-left: 26px;
        padding-right: 15px;

        @media (max-width: 1441px) {
          font-size: 14px;
        }
        @media (max-width: 769px) {
          font-size: 12px;
          line-height: 22px;
        }
        @media (max-width: 768px) {
          letter-spacing: 1px;
        }
        &:nth-child(1) {
          text-align: center;
          color: #e01042;
          font-size: 27px;
          letter-spacing: 1px;
          font-weight: 600;
          text-align: center;
          margin-bottom: 50px;
          padding-left: 0;
          @media (max-width: 1441px) {
            font-size: 21px;
          }
          @media (max-width: 1025px) {
            margin-bottom: 20px;
          }
          @media (max-width: 768px) {
            font-size: 21px;
          }
        }
      }
    }
  }
  &--number {
    position: absolute;
    z-index: 1;
    right: -11px;
    font-size: 320px;
    color: #000000;
    opacity: 0.05;
    @media (max-width: 1441px) {
      font-size: 260px;
      bottom: -31%;
    }
    @media (max-width: 1025px) {
      font-size: 265px;
    }
    @media (max-width: 426px) {
      bottom: -38%;
      right: -12px;
    }
  }
  &--border {
    position: absolute;
    bottom: -2%;
    width: 100%;
    height: 10px;
    background-color: #e01042;
  }
}
.timeline__web {
  display: block;
  @media (max-width: 1023px) {
    display: none !important;
  }
}
.timeline-mobile {
  display: none;
  @media (max-width: 1023px) {
    display: block !important;
  }
  @media (max-width: 769px) {
    padding-left: 50px;
    padding-right: 50px;
  }
  @media (max-width: 426px) {
    padding-left: 0px;
    padding-right: 0px;
  }
  &__content {
    padding-left: 50px;
    padding-right: 50px;
    .slick-slide {
      div {
        &:nth-child(1) {
          // width: 100% !important;
          .col-item {
            max-width: 100% !important;
          }
        }
      }
    }
    .slick-next {
      display: none !important;
    }
  }
}
.slick-list {
  width: 100% !important;
}
